
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 40px;
  
  background-color: #fafafa;
  color: #222;
  line-height: 1.6;
}


header {
  margin-bottom: 50px;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

header h2 {
  margin: 5px 0 0;
  font-weight: normal;
  color: #666;
}


.team {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 260px;
  padding: 16px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.team h3 {
  margin-top: 0;
}

.team ul {
  padding-left: 18px;
  margin: 8px 0 0;
}

.team a {
  text-decoration: none;
  color: #0066cc;
}

.team a:hover {
  text-decoration: underline;
}


.hw {
  max-width: 700px;
  margin-bottom: 20px;
  padding: 16px 20px;
  background: #f1f1f1;
  border-radius: 6px;
}

.hw h3 {
  margin-top: 0;
}

.hw ul {
  margin: 10px 0 0;
  padding-left: 20px;
}

.hw a {
  color: #0066cc;
  text-decoration: none;
}

.hw a:hover {
  text-decoration: underline;
}


footer {
  margin-top: 80px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
}
